{% extends "base.html" %}
{% block title %}Measurement System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}

<form action="" method="post">
    <div class="form-group">
        <label for="DeviceId">Device ID</label>
        <input type="number" name="device_id" class="form-control" id="InputDevice" placeholder="Enter Device Id" required>
    </div>
    <div class="form-group">
        <label for="InputPatient">Patient ID</label>
        <input type="number" name="patient_id" class="form-control" id="InputPatient"  placeholder="Enter Patient ID" required>
    </div>
    <div class="form-group">
        <label for="InputMeasurement">Measurement</label>
        <input name="measurement" class="form-control" id="InputMeasurement"  placeholder="Enter Type of Measurement" required>
    </div>
    <div class="form-group">
        <label for="InputUnit">Unit</label>
        <input name="unit" class="form-control" id="InputUnit"  placeholder="Enter Unit" required>
    </div>
    <div class="form-group">
        <label for="InputValue">Value</label>
        <input type="number" name="value" class="form-control" id="InputValue"  placeholder="Enter Value" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}